<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotshotapp.ziku.hotshot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/hot_shot_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="hot_Shot_active.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.hotshotapp.ziku.hotshot.tables.ActiveInfo, com.hotshotapp.ziku.hotshot.tables.ActiveWebSites, com.hotshotapp.ziku.hotshot.tables.ActiveHotShots, com.hotshotapp.ziku.hotshot.tables.ActiveCategories" />

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/hot_shot_icon"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowImageActivity"
            android:theme="@style/PopupActivity" />
        <activity
            android:name=".Info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreferencesSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".services.HotShotAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name=".services.HotShotIntentService" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".UpdateToNewVersionActivity"
            android:theme="@style/PopupActivity">
        </activity>
    </application>

</manifest>